### 회귀모델(점수예측)

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
df = pd.read_csv('./test.csv',encoding='euc-kr')
df

,idx,gender,mbti,sc_goal,toeic,teps,toeic_sp,opic,st_method,major,sucss
0,2,남,ENTJ,800,710,0,0,850,독학,공과계열,1
1,3,여,INFP,750,0,0,750,0,학원,인문계열,1
2,5,여,ENFJ,900,700,0,0,0,인강,사회계열,0
3,6,남,ISTP,700,0,600,0,0,인강,인문계열,0
4,7,남,ENTP,700,0,600,0,0,인강,공과계열,0
...,...,...,...,...,...,...,...,...,...,...,...
395,651,여,ISTJ,865,670,220,767,865,스터디,예/체능계열,1
396,652,남,ISTJ,972,960,230,160,395,스터디,예/체능계열,0
397,653,남,INTJ,972,910,530,972,972,학원,사회계열,1
398,654,남,INTJ,972,920,350,865,935,학원,사회계열,0
399,655,여,INTJ,935,840,430,935,767,학원,사회계열,1

In [3]:
for i in range(len(df)):
    df.loc[i,'취득점수'] = max(df.loc[i,'toeic'],df.loc[i,'teps'],df.loc[i,'toeic_sp'],df.loc[i,'opic'])
df

,idx,gender,mbti,sc_goal,toeic,teps,toeic_sp,opic,st_method,major,sucss,취득점수
0,2,남,ENTJ,800,710,0,0,850,독학,공과계열,1,850.0
1,3,여,INFP,750,0,0,750,0,학원,인문계열,1,750.0
2,5,여,ENFJ,900,700,0,0,0,인강,사회계열,0,700.0
3,6,남,ISTP,700,0,600,0,0,인강,인문계열,0,600.0
4,7,남,ENTP,700,0,600,0,0,인강,공과계열,0,600.0
...,...,...,...,...,...,...,...,...,...,...,...,...
395,651,여,ISTJ,865,670,220,767,865,스터디,예/체능계열,1,865.0
396,652,남,ISTJ,972,960,230,160,395,스터디,예/체능계열,0,960.0
397,653,남,INTJ,972,910,530,972,972,학원,사회계열,1,972.0
398,654,남,INTJ,972,920,350,865,935,학원,사회계열,0,935.0
399,655,여,INTJ,935,840,430,935,767,학원,사회계열,1,935.0

In [4]:
for i in range(len(df)):
    if df.loc[i,'toeic'] == df.loc[i,'취득점수']:
        df.loc[i,'적합시험'] = 'gtoeic'
    if df.loc[i,'teps'] == df.loc[i,'취득점수']:
        df.loc[i,'적합시험'] = 'gteps'
    if df.loc[i,'toeic_sp'] == df.loc[i,'취득점수']:
        df.loc[i,'적합시험'] = 'gtoeic_sp'
    if df.loc[i,'opic'] == df.loc[i,'취득점수']:
        df.loc[i,'적합시험'] = 'gopic'
df

,idx,gender,mbti,sc_goal,toeic,teps,toeic_sp,opic,st_method,major,sucss,취득점수,적합시험
0,2,남,ENTJ,800,710,0,0,850,독학,공과계열,1,850.0,gopic
1,3,여,INFP,750,0,0,750,0,학원,인문계열,1,750.0,gtoeic_sp
2,5,여,ENFJ,900,700,0,0,0,인강,사회계열,0,700.0,gtoeic
3,6,남,ISTP,700,0,600,0,0,인강,인문계열,0,600.0,gteps
4,7,남,ENTP,700,0,600,0,0,인강,공과계열,0,600.0,gteps
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,651,여,ISTJ,865,670,220,767,865,스터디,예/체능계열,1,865.0,gopic
396,652,남,ISTJ,972,960,230,160,395,스터디,예/체능계열,0,960.0,gtoeic
397,653,남,INTJ,972,910,530,972,972,학원,사회계열,1,972.0,gopic
398,654,남,INTJ,972,920,350,865,935,학원,사회계열,0,935.0,gopic
399,655,여,INTJ,935,840,430,935,767,학원,사회계열,1,935.0,gtoeic_sp

In [5]:
get_mbti = pd.get_dummies(df['mbti'])
get_male = pd.get_dummies(df['gender'])
get_st_method = pd.get_dummies(df['st_method'])
get_major = pd.get_dummies(df['major'])
get_test = pd.get_dummies(df['적합시험'])
df = pd.concat([df,get_mbti,get_male,get_st_method,get_major,get_test],axis=1)
df = df.drop(['idx','sucss','mbti','gender','st_method','major','적합시험','toeic','teps','toeic_sp','opic'],axis=1)
df

,sc_goal,취득점수,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,...,사회계열,상경계열,예/체능계열,의약계열,인문계열,자연계열,gopic,gteps,gtoeic,gtoeic_sp
0,800,850.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,750,750.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,900,700.0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,700,600.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,700,600.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,865,865.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
396,972,960.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
397,972,972.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
398,972,935.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
399,935,935.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [6]:
x_df = df.iloc[:,:-4]
x_df = x_df.drop(['취득점수'],axis=1)
y_df = df['취득점수']
# x_tr = x_df.iloc[:201]
# y_tr = y_df.iloc[:201]

In [7]:
print(x_df.columns)
x_df

Index(['sc_goal', 'ENFJ', 'ENFP', 'ENTJ', 'ENTP', 'ESFJ', 'ESFP', 'ESTJ',
       'ESTP', 'INFJ', 'INFP', 'INTJ', 'INTP', 'ISFJ', 'ISFP', 'ISTJ', 'ISTP',
       '남', '여', '기타', '독학', '스터디', '인강', '학원', '공과계열', '교육계열', '사회계열', '상경계열',
       '예/체능계열', '의약계열', '인문계열', '자연계열'],
      dtype='object')

,sc_goal,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,...,인강,학원,공과계열,교육계열,사회계열,상경계열,예/체능계열,의약계열,인문계열,자연계열
0,800,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,750,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,900,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3,700,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4,700,0,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,865,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
396,972,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
397,972,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
398,972,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
399,935,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0

In [8]:
pgender = '남'
x_df[pgender]

0      1
1      0
2      0
3      1
4      1
      ..
395    0
396    1
397    1
398    1
399    0
Name: 남, Length: 400, dtype: uint8

In [9]:
# train데이터 split
from sklearn.model_selection import train_test_split
x_tr, x_val,y_tr, y_val = train_test_split(x_df,y_df, test_size = 0.2, random_state = 2021)

In [10]:
x_val.columns

Index(['sc_goal', 'ENFJ', 'ENFP', 'ENTJ', 'ENTP', 'ESFJ', 'ESFP', 'ESTJ',
       'ESTP', 'INFJ', 'INFP', 'INTJ', 'INTP', 'ISFJ', 'ISFP', 'ISTJ', 'ISTP',
       '남', '여', '기타', '독학', '스터디', '인강', '학원', '공과계열', '교육계열', '사회계열', '상경계열',
       '예/체능계열', '의약계열', '인문계열', '자연계열'],
      dtype='object')

In [11]:
# minmax 스케일러
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(x_tr)
x_train_scaled = scaler.transform(x_tr)
x_test_scaled = scaler.transform(x_val)

In [12]:
# 랜덤포레스트 회귀
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train_scaled,y_tr)
pred = model.predict(x_test_scaled)
# model.score(pred, y_val)

In [13]:
len(pred)

80

In [14]:
# RMSE
from sklearn.metrics import mean_squared_error
def RMSE(y_val,pred):
    return np.sqrt(mean_squared_error(y_val,pred))
print('RMSE : ' + str(RMSE(y_val,pred)))

RMSE : 101.15080768301722

In [15]:
x_val = x_val.reset_index(drop=True)
y_val = pd.DataFrame(y_val).reset_index(drop=True)
pred = pd.DataFrame({'예측값':pred}).reset_index(drop=True)
val = pd.concat([x_val,y_val,pred],axis=1)
val

,sc_goal,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,...,공과계열,교육계열,사회계열,상경계열,예/체능계열,의약계열,인문계열,자연계열,취득점수,예측값
0,767,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,595.0,860.132500
1,900,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,900.0,900.000000
2,935,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,972.0,910.816667
3,750,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,750.0,750.000000
4,767,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,865.0,625.026667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,767,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,595.0,650.195000
76,900,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,900.0,900.000000
77,595,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,767.0,538.950000
78,972,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,970.0,946.580000
79,935,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,865.0,928.810000

### 분류분석

In [16]:
c_x_df = df.iloc[:,:-4]
c_x_df = c_x_df.drop(['취득점수'],axis=1)
c1_y_df = df['gtoeic']
c2_y_df = df['gteps']
c3_y_df = df['gtoeic_sp']
c4_y_df = df['gopic']

In [17]:
c_x_df

,sc_goal,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,...,인강,학원,공과계열,교육계열,사회계열,상경계열,예/체능계열,의약계열,인문계열,자연계열
0,800,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,750,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,900,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3,700,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4,700,0,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,865,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
396,972,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
397,972,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
398,972,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
399,935,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0

In [18]:
# train데이터 split
c_x_tr = c_x_df.iloc[:201]
c_x_test = c_x_df.iloc[201:]

c1_y_tr = c1_y_df.iloc[:201]
c1_y_test = c1_y_df.iloc[201:]

c2_y_tr = c2_y_df.iloc[:201]
c2_y_test = c2_y_df.iloc[201:]

c3_y_tr = c3_y_df.iloc[:201]
c3_y_test = c3_y_df.iloc[201:]

c4_y_tr = c4_y_df.iloc[:201]
c4_y_test = c4_y_df.iloc[201:]

In [19]:
# minmax 스케일러
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(c_x_tr)
x_train_scaled = scaler.transform(c_x_tr)
x_test_scaled = scaler.transform(c_x_test)

In [20]:
# 랜덤포레스트분류
from sklearn.ensemble import RandomForestClassifier
c1model = RandomForestClassifier()
c1model.fit(x_train_scaled,c1_y_tr)

c2model = RandomForestClassifier()
c2model.fit(x_train_scaled,c2_y_tr)

c3model = RandomForestClassifier()
c3model.fit(x_train_scaled,c3_y_tr)

c4model = RandomForestClassifier()
c4model.fit(x_train_scaled,c4_y_tr)

pred1 = c1model.predict(x_test_scaled)
pred2 = c2model.predict(x_test_scaled)
pred3 = c3model.predict(x_test_scaled)
pred4 = c4model.predict(x_test_scaled)

In [21]:
c_x_test = c_x_test.reset_index(drop=True)
c1_y_test = pd.DataFrame(c1_y_test).reset_index(drop=True)
c2_y_test = pd.DataFrame(c2_y_test).reset_index(drop=True)
c3_y_test = pd.DataFrame(c3_y_test).reset_index(drop=True)
c4_y_test = pd.DataFrame(c4_y_test).reset_index(drop=True)

pred1 = pd.DataFrame({'토익예측값':pred1}).reset_index(drop=True)
pred2 = pd.DataFrame({'텝스예측값':pred2}).reset_index(drop=True)
pred3 = pd.DataFrame({'토스예측값':pred3}).reset_index(drop=True)
pred4 = pd.DataFrame({'오픽예측값':pred4}).reset_index(drop=True)

classy = pd.concat([c_x_test,c1_y_test,pred1,c2_y_test,pred2,c3_y_test,pred3,c4_y_test,pred4],axis=1)
cl_pred = classy[['토익예측값','텝스예측값','토스예측값','오픽예측값']]

In [22]:
for i in range(len(cl_pred)):
    if cl_pred.loc[i,'토익예측값'] == 1 :
        cl_pred.loc[i,'예측적합시험'] = 'TOEIC'
    if cl_pred.loc[i,'텝스예측값'] == 1 :
        cl_pred.loc[i,'예측적합시험'] = 'TEPS'
    if cl_pred.loc[i,'토스예측값'] == 1 :
        cl_pred.loc[i,'예측적합시험'] = 'TOEIC_SP'
    if cl_pred.loc[i,'오픽예측값'] == 1 :
        cl_pred.loc[i,'예측적합시험'] = 'OPIC'
cl_pred['예측적합시험']=cl_pred['예측적합시험'].fillna('ANYTHING')
cl_pred

C:\Users\admin\AppData\Local\Temp\ipykernel_16632\4247614951.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cl_pred.loc[i,'예측적합시험'] = 'TOEIC'
C:\Users\admin\AppData\Local\Temp\ipykernel_16632\4247614951.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cl_pred['예측적합시험']=cl_pred['예측적합시험'].fillna('ANYTHING')

     토익예측값  텝스예측값  토스예측값  오픽예측값    예측적합시험
0        1      0      0      0     TOEIC
1        1      0      0      0     TOEIC
2        0      0      0      1      OPIC
3        0      1      0      0      TEPS
4        1      0      0      0     TOEIC
..     ...    ...    ...    ...       ...
194      0      0      0      0  ANYTHING
195      0      0      0      1      OPIC
196      0      0      0      1      OPIC
197      0      0      0      1      OPIC
198      1      0      0      0     TOEIC

[199 rows x 5 columns]

In [23]:
classy['예측적합시험'] = cl_pred['예측적합시험']
classy

,sc_goal,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,...,자연계열,gtoeic,토익예측값,gteps,텝스예측값,gtoeic_sp,토스예측값,gopic,오픽예측값,예측적합시험
0,865,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,TOEIC
1,865,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,TOEIC
2,767,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,OPIC
3,865,0,0,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,TEPS
4,865,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,TOEIC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,865,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,ANYTHING
195,972,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,OPIC
196,972,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,OPIC
197,972,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,OPIC
198,935,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,TOEIC

In [31]:
# ROC_AUC_SCORE
from sklearn.metrics import roc_auc_score, accuracy_score, precision_score, recall_score, f1_score
print(roc_auc_score(c1_y_test,pred1))
print(roc_auc_score(c2_y_test,pred2))
print(roc_auc_score(c3_y_test,pred3))
print(roc_auc_score(c4_y_test,pred4))

0.5281753130590341
0.47715736040609136
0.5
0.4724120082815735

In [38]:
print('정확도 : {:.2f}'.format(accuracy_score(c1_y_test,pred1)))
print('정밀도 : {:.2f}'.format(precision_score(c1_y_test,pred1)))
print('재현율 : {:.2f}'.format(recall_score(c1_y_test,pred1)))
print('f1_score : {:.2f}'.format(f1_score(c1_y_test,pred1)))
print('======================================================')
print('정확도 : {:.2f}'.format(accuracy_score(c2_y_test,pred2)))
print('정밀도 : {:.2f}'.format(precision_score(c2_y_test,pred2)))
print('재현율 : {:.2f}'.format(recall_score(c2_y_test,pred2)))
print('f1_score : {:.2f}'.format(f1_score(c2_y_test,pred2)))
print('======================================================')
print('정확도 : {:.2f}'.format(accuracy_score(c3_y_test,pred3)))
print('정밀도 : {:.2f}'.format(precision_score(c3_y_test,pred3)))
print('재현율 : {:.2f}'.format(recall_score(c3_y_test,pred3)))
print('f1_score : {:.2f}'.format(f1_score(c3_y_test,pred3)))
print('======================================================')
print('정확도 : {:.2f}'.format(accuracy_score(c4_y_test,pred4)))
print('정밀도 : {:.2f}'.format(precision_score(c4_y_test,pred4)))
print('재현율 : {:.2f}'.format(recall_score(c4_y_test,pred4)))
print('f1_score : {:.2f}'.format(f1_score(c4_y_test,pred4)))
print('======================================================')

정확도 : 0.64
정밀도 : 0.25
재현율 : 0.33
f1_score : 0.28
======================================================
정확도 : 0.94
정밀도 : 0.00
재현율 : 0.00
f1_score : 0.00
======================================================
정확도 : 0.65
정밀도 : 0.00
재현율 : 0.00
f1_score : 0.00
======================================================
정확도 : 0.48
정밀도 : 0.39
재현율 : 0.44
f1_score : 0.42
======================================================

C:\Users\admin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### 군집분석(적합한 영어시험)

In [25]:
from sklearn.cluster import KMeans # model
import matplotlib.pyplot as plt # 시각화

In [26]:
model = KMeans(n_clusters=4, random_state=0, algorithm='auto')
# n_clusters=3 : 군집의 개수 (k) (이미 알고 있음)
# random_state=0 : seed 역할 (모델을 일정하게 생성 = 랜덤X)
model.fit(x_train_scaled)

KMeans(n_clusters=4, random_state=0)

In [27]:
cpred = model.predict(x_test_scaled)
cpred
len(cpred) # 150 (관측치 개수만큼 예측치 생성됨)

199

In [28]:
ccpred = pd.DataFrame({'군집':cpred})
val = pd.concat([val,ccpred],axis=1)
val

,sc_goal,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,...,교육계열,사회계열,상경계열,예/체능계열,의약계열,인문계열,자연계열,취득점수,예측값,군집
0,767.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,595.0,860.132500,3
1,900.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,900.0,900.000000,3
2,935.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,972.0,910.816667,1
3,750.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,750.0,750.000000,1
4,767.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,865.0,625.026667,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

In [29]:
plt.scatter(x=x_val['toeic'], y=cpred, c=cpred)
plt.scatter(x=x_val['opic'], y=cpred, c=cpred)

KeyError: 'toeic'